:root {
  --background: #f5f5f5;
  --content-background: #fff;
  --text-color: #001f41;
  --primary: #2c2e70;
  --secondary: #4778ec;
  --light-blue: rgba(71, 120, 236, 0.08);
  --idle: rgba(0, 31, 65, 0.16);
  --checkbox: rgba(0, 31, 65, 0.6);
}
